*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px; /* 1rem*/
}

body {
  /* max-width: 100vw; */
  font-family: Arial, Helvetica, sans-serif;

  display: flex;

  background-color: rgb(252, 248, 248);
}

a {
  text-decoration: none;
  color: white;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: max-content;

  background-color: red;
}

.image {
  max-height: 100vh;

  position: relative;
}

.credit {
  color: white;
  font-weight: bold;

  position: absolute;
  bottom: 2%;
}

.content-container {
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  /* occupy remaining space instead of only what's necessary */
  /* width: 100%; */

  /* background-color: red; */
}

.intro-container {
  margin: 10em 12em 3em 3em;
  /* background-color: blue; */
}

.intro-text {
  font-size: 1.3rem;
  font-weight: bold;
  /* background-color: green; */
}

.form-container {
  /* background-color: blueviolet; */
  background-color: rgb(255, 255, 255);
  box-shadow: 0.2em 0.2em 0.5em 0em lightgray;
  padding: 1.5em 0em 0em 0em;
  margin-bottom: 2em;
}

/* .signup-form {
} */

.form-heading {
  font-size: 1.3rem;

  margin: 0em 12em 2em 2.3em;
  /* background-color: coral; */
}

.signup-fields {
  margin: 0em 12em 2em 3em;

  display: flex;

  /* width: 40rem; */
  flex-wrap: wrap;
  align-items: flex-start;

  gap: 1rem;

  /* background-color: yellow; */
}

.signup-fields > div {
  width: 20rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-bottom: 0.5em;

  color: #683400;
  font-weight: bold;
  /* text-transform: uppercase; */
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.15ch;
}

input {
  width: 20rem;
  height: 2rem;
  font-size: inherit;
  border: solid 2px #e48d36;
  border-radius: 0.4em;
}

input:focus {
  outline: none;
  /* border: dashed 2px #e48d36; */
  border-radius: 0.4em;
  /* border-bottom: solid 0.2em #683400; */
  box-shadow: 0em 0.15em #e48d36;
}

.btn-create:hover {
  cursor: pointer;
  /* border: solid 0.15em #b1681f; */
  /* opacity: 0.9; */
  /* box-shadow: 0em 0.15em lightgray; */
  /* box-shadow: 0em 0em 0em 0.6em #e48d36; */
  transform: scale(1.05);
}

.btn-create:focus {
  outline: none;
  /* opacity: 0.7; */
  /* border-bottom: solid 2px #683400; */
  /* box-shadow: 0em 0.15em #b1681f; */
  transform: scale(1.05);
}

.btn-create {
  padding: 0.8em 0.2em 0.8em 0.2em;
  margin-left: 2.5em;
  max-width: 16rem;

  border: none;
  border-radius: 0.4em;
  /* box-shadow: 0.2em 0.2em 0.5em 0em lightgray; */

  transition: all 0.07ms ease;

  font-size: 1.2rem;
  font-weight: bold;
  color: white;

  background-color: #e48d36;
}

.acc-exists-text {
  margin: 2em 12em 2em 3em;
  /* background-color: cadetblue; */
}

.acc-exists-text a {
  color: black;
  transition: all 0.07ms ease;
}

.acc-exists-text a:hover {
  color: #e48d36;
}

.acc-exists-text a:focus-visible {
  outline: none;
  color: #e48d36;
}

/* .image {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: fit-content;
}

.image > img {
  max-height: 100vh;
  display: block;
}

.credit {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  text-align: center;

  font-size: 1.2rem;
  color: white;
} */

/* @media (max-width: 800px) {
  .image > img {
    max-height: 63vh;
    display: block;
    position: relative;
  }

  .credit {
    position: absolute;
    bottom: 40vh;
    left: 15vw;

    font-size: 1.2rem;
    color: white;
  }
} */
