@font-face {
  font-family: "NorseBold";
  src: url("../font/Norse-Bold.otf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px; /* 1rem*/
}

body {
  font-family: Arial, Helvetica, sans-serif;

  display: flex;

  background-color: rgb(252, 248, 248);
}

a {
  text-decoration: none;
  color: #683400;
}

a:focus-visible {
  outline: none;
  border-bottom: 0.15em solid #e48d36;
  color: #e48d36;
}

.container {
  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;

  background-color: #68340060;

  margin-top: 7.5em;

  height: 12rem;
  width: 100%;
}

.logo > h1 {
  font-family: NorseBold, sans-serif;
  font-size: 6rem;
  color: #ffffff;
}

.logo > img {
  width: 6rem;
}

.image-container {
  background-image: url("../img/frank-mckenna_unsplash.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 50vw;

  display: flex;
  justify-content: center;

  position: relative;
}

.credit {
  color: #b4671a;
  font-weight: bold;
  text-align: center;

  position: absolute;
  bottom: 2%;
}

.content-container {
  display: flex;
  flex-direction: column;

  /* occupy remaining space instead of only what's necessary */
  width: 100%;
}

.intro-container {
  margin: 10em 12em 3em 3em;
}

.intro-text {
  font-size: 1.3rem;
  font-weight: bold;
}

.form-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0.2em 0.2em 0.5em 0em lightgray;
  padding: 1.5em 0em 0em 0em;
  margin-bottom: 2em;
}

.form-heading {
  font-size: 1.3rem;

  margin: 0em 12em 2em 2.3em;
}

.signup-fields {
  margin: 0em 12em 2em 3em;

  display: flex;

  flex-wrap: wrap;
  align-items: flex-start;

  gap: 1rem;
}

.signup-fields > div {
  width: 20rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-bottom: 0.5em;

  color: #683400;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.15ch;
}

input {
  width: 20rem;
  height: 2rem;
  font-size: inherit;
  border: solid 2px #e5e7eb;
  border-radius: 0.4em;
}

input:focus {
  outline: none;
  border-radius: 0.4em;
  border-bottom: none;
  box-shadow: 0em 0.15em #e48d36;
}

.btn-create:hover {
  cursor: pointer;
  color: white;
  background-color: #e48d36;
}

.btn-create:focus {
  outline: none;
  color: white;
  background-color: #e48d36;
}

.btn-create {
  padding: 0.8em 0.2em 0.8em 0.2em;
  margin-left: 2.5em;
  max-width: 16rem;

  transition: all 0.07ms ease;

  font-size: 1.2rem;
  font-weight: bold;

  color: #e48d36;
  border: solid 2px #e48d36;
  border-radius: 0.4em;
  background-color: white;
}

.acc-exists-text {
  margin: 2em 12em 2em 3em;
}

.acc-exists-text a {
  color: #e48d36;
  transition: all 0.07ms ease;
}

.acc-exists-text a:hover {
  color: black;
}

.acc-exists-text a:focus-visible {
  outline: none;
  border-bottom: 0.15em solid #e48d36;
  color: #e48d36;
}

/* .image {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: fit-content;
}

.image > img {
  max-height: 100vh;
  display: block;
}

.credit {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  text-align: center;

  font-size: 1.2rem;
  color: white;
} */

/* @media (max-width: 800px) {
  .image > img {
    max-height: 63vh;
    display: block;
    position: relative;
  }

  .credit {
    position: absolute;
    bottom: 40vh;
    left: 15vw;

    font-size: 1.2rem;
    color: white;
  }
} */
